header {
  background-image: url("../img/header/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat; }

#navbarNav {
  justify-content: flex-end; }
  #navbarNav .nav-item {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    transition: .3s;
    font-size: .8em; }
    #navbarNav .nav-item:hover {
      color: #00e0d0; }
  #navbarNav .active {
    color: #00e0d0; }

.d-block {
  width: 40%; }

.carousel-caption {
  bottom: 30%; }
  .carousel-caption h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 900; }
  .carousel-caption hr {
    width: 50px;
    border: none;
    background-color: #00e0d0;
    height: 2px; }
  .carousel-caption p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300; }

.carousel-indicators {
  bottom: 40px; }
  .carousel-indicators > li {
    width: 10px;
    height: 10px;
    border: 1px solid #bab9bc;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1); }
    .carousel-indicators > li:active {
      background-color: #00e0d0; }

.btn {
  display: inline-block;
  font-family: 'Hammersmith One', sans-serif;
  color: #00e0d0;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 3px;
  padding: 10px 15px;
  margin-top: 20px;
  transition: .3s; }
  .btn:hover {
    background-color: #00e0d0;
    color: white; }

.story .row {
  margin: 70px 0; }

.text > h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 900; }
.text > p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.video {
  background-image: url("../img/content/background-video.jpg");
  background-size: 100%;
  text-align: center;
  padding: 200px 0; }
  .video > a {
    color: #fff; }
    .video > a:hover {
      text-decoration: none; }
    .video > a > span {
      display: block;
      padding-top: 30px;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      font-weight: 900; }

.expertise {
  text-align: center; }
  .expertise h2 {
    text-transform: uppercase;
    margin-top: 70px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #413d4b; }
  .expertise p {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #2f2d35; }
  .expertise hr {
    width: 50px;
    border: none;
    background-color: #c6c4c9;
    height: 2px;
    margin-bottom: 50px; }
  .expertise .row {
    text-align: center; }
    .expertise .row > .col > img {
      padding: 35px; }
    .expertise .row > .col h5 {
      font-family: 'Roboto', sans-serif;
      font-weight: 900; }
    .expertise .row > .col > p {
      padding: 15px 20px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 1.2em;
      word-spacing: .3em; }

@media (max-width: 766px) {
  header {
    background-size: auto; }

  .carousel-indicators {
    display: none; }

  .carousel-caption {
    position: static; }

  .d-block {
    display: none !important; }

  .logo {
    display: none; }

  .text {
    background-image: url("../img/content/logo.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    text-align: center; }
    .text > p {
      text-align: left;
      text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.4); }

  .video {
    background-size: auto; }

  .expertise .w-100 {
    display: none !important; }
  .expertise .col {
    border: none !important; } }

/*# sourceMappingURL=style.css.map */
